[submodule "modbus"]
	path = source/modbus
	url = https://github.com/xeedjr/freemodbus.git

[submodule "os"]
	path = source/os
	url = https://github.com/xeedjr/ChibiOS.git
[submodule "nanopb"]
	path = source/nanopb
	url = https://github.com/nanopb/nanopb.git

[submodule "ch_modules"]
	path = source/ch_modules
	url = https://github.com/xeedjr/devices_chibios_hal.git
[submodule "src/nrf24"]
	path = source/src/nrf24
	url = https://github.com/xeedjr/RF24.git
	branch = master
